html{
	scroll-behavior: smooth;
}
body{
    font-family: Arial, sans-serif;
        }
nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index: 10;
}
.logo{
	color: white;
	font-size: 20px;
	line-height: 60px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.menu{
	float: left;
        }
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
} 
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.8s;
}
.menu li:nth-child(4){
	animation-delay: 1.2s;
}
.menu li:nth-child(5){
	animation-delay: 1.6s;
}
.menu li:nth-child(6){
	animation-delay: 2s;
}
.menu li a{
	transition: all 0.1s;
	color: white;
	transform: scale(1);
	display: inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color: white;
}
.menu li a:hover{
	color: #e88604;
	
}
.a.active{
	color: #e88604;
}
.menu li a:active{
	transform: scale(1.1);
}
.btn{
	color: white;
	font-size: 20px;
}
.btn:hover{
	color: white;
}
.dropdown-item a{
	font-size: 20px;
	text-decoration: none;
}
.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/fon_obo_mne.png) center/cover no-repeat;	
	
}
.title{
	float: left;
	color: #2c384a;
	text-align: center;
	width: 100%;
	-webkit-animation: titlemove 1s ease forwards;
	-o-animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	opacity: 0;
	
}
.title h1{
	font-family: Arial, sans-serif;
	font-size: 65px;
	font-weight: bold;
}
.title h4{
	margin-top: 20px;
	font-size: 22px;
	color: #79818d;
}
.title input{
	height: 40px;
	text-align: center;
	border: 2px solid #6b7682;
	border-radius: 5px;
	padding: 0px 16px;
	background: none;
	color: #6b7682;
	font-size: 13px;
	margin: 50px 14px 0px 14px;
	transition: all 0.2s;
	transform: scale(1);
}
.title input:hover{
	background: #344051;
	color: white;
}
.title input:active{
	transform: scale(1.1);
}
@media (max-width: 991px){
	.title, .title h4, .title input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title h4, .title input{
		font-size: 20px;
	}
	.title input{
		border-color: white;
	}
	.main{
		position: relative;
	}
	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);
		z-index: 1;
	}
}
.ya{
	text-align: center;
	padding: 12% 0% 12% 0; /*верхнего, правого, нижнего и левого*/
}
.ya h2{
	text-transform: uppercase;
	margin-top: 2%;
	padding-bottom: 34px;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 310%/10% 70% no-repeat;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.ya img{
	text-align: center;
}
.ya p{
	color: #3f495a;
	text-align: start;
	font-size: 14px;
}
.ya input{
	height: 40px;
	text-align: center;
	border: 2px solid #3f495a;
	border-radius: 5px;
	padding: 0px 16px;
	background: none;
	color: #3f495a;
	font-size: 13px;
	margin-bottom: 3%;
	transition: all 0.2s;
	transform: scale(1);
}
.ya input:hover{
	background: #344051;
	color: white;
}
.ya input:active{
	transform: scale(1.1);
}
.col{
	background: url(../img/fon_ya.png) center/cover no-repeat fixed;
	padding: 21% 0% 21% 0; /*верхнего, правого, нижнего и левого*/
}
.col h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 2%;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 320%/10% 70% no-repeat;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.col1{
	text-align: center;
	padding-top: 2%;
}
.col2{
	padding-left: 1%;
	padding-right: 1%;
}
.col2 img{
	-webkit-animation: col2 0.7s ease-in-out
 forwards;
	-o-animation: col2 0.7s ease-in-out
 forwards;
	animation: col2 0.7s ease-in-out
 forwards;
	opacity: 0;
}
.col2 h4{
	margin-top: 7%;
	margin-bottom: 3%;
	font-size: 20px;
	color: #d58c41;
	-webkit-animation: col2 1.2s ease forwards;
	-o-animation: col2 1.2s ease forwards;
	animation: col2 1.2s ease forwards;
	opacity: 0;
}
.col2 p{
	font-size: 14px;
	color: #3f495a;
	-webkit-animation: col2 1.7s ease forwards;
	-o-animation: col2 1.7s ease forwards;
	animation: col2 1.7s ease forwards;
	opacity: 0;
}
.kay{
	text-align: center;
	padding: 12% 0% 12% 0; /*верхнего, правого, нижнего и левого*/
	}
.kay1 h2{
	margin-top: 1%;
	padding-bottom: 2%;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 310%/10% 70% no-repeat;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.kay1 p{
	font-size: 14px;
	color: #4d5664;
	margin-top: 39px;
	margin-bottom: 40px;
}
.kay1 img{
	max-width: 100%;
}
.kay3{
	padding-top: 10px;
	float:left;
}
.kay3 h4{
	font-size: 22px;
	padding-bottom: 15px;
	font-weight: bold;
	color: #4d5664;
}
.kay3 span{
	font-size: 14px;
	color: #4d5664;
}
.kay3 input{
	height: 40px;
	text-align: center;
	border: 2px solid #3f495a;
	border-radius: 5px;
	padding: 0px 16px;
	background: none;
	color: #3f495a;
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 100px;
	transition: all 0.2s;
	transform: scale(1);
}
.kay3 input:hover{
	background: #344051;
	color: white;
}
.kay3 input:active{
	transform: scale(1.1);
}
.projekt{
        }
.projekt h4{
	text-align: start;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight: bold;
	color: #4d5664;
}
.projekt p{
	text-align: start;
	color: #4d5664;
	font-size: 14px;	
}

.raschet{
    background: url(../img/fon-raschet.jpg) center/cover no-repeat fixed;
	padding-bottom: 1%;
	
        }
.raschet h2{
	color:#303030;
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	font-weight: bold;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.ras1{
    margin: 2.5% 0% 2.5% 0%; /*верхнего, правого, нижнего и левого*/
        }
.ras1 h3{
	color:#303030;
	text-transform: uppercase;
    font-size: 20px;
	padding-bottom: 10px;
        }
.ras1 select{
	text-align: center;
	font-size: 18px;
	color: #727272;
	background: #eeeeee;
	padding: 1% 0% 1% 0%;
}
.ras2{
    margin: 2.5% 0% 2.5% 0%;
        }
.ras2 h3{
	display: contents;
}
.ras2 h5{
	
}
.ras2 input{
	height: 40px;
	text-align: center;
	border: 2px solid #3f495a;
	border-radius: 5px;
	padding: 0px 56px;
	background: none;
	color: #3f495a;
	font-size: 13px;
	margin-top: 2%;
	transition: all 0.2s;
	transform: scale(1);
}
.ras2 input:hover{
	background: #344051;
	color: white;
}
.ras2 input:active{
	transform: scale(1.1);
}
.ras3 h3{
	margin-top: 1%;
	margin-bottom: 0.5%;
}
.ras3 h5{
	margin-top: 1%;
	margin-bottom: 0.5%;
}
.stat{
	background: url(../img/fon_stat.png) center/cover no-repeat fixed;
	padding: 12% 0% 12% 0; /*верхнего, правого, нижнего и левого*/
	transform: translateY(-1);
        }
.stat h2{
	text-transform: uppercase;
    text-align: center;
	padding-top: 20px;
	padding-bottom: 34px;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 310%/10% 70% no-repeat;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
        }
.stat1{
	padding: 5% 0% 0% 0%; /*верхнего, правого, нижнего и левого*/
}
.stat2{
	text-align: center;
}
.stat2 img{
	margin-bottom: 34px;
	-webkit-animation: col2 1.2s ease forwards;
	-o-animation: col2 1.2s ease forwards;
	animation: col2 1.2s ease forwards;
	opacity: 0;
}
.stat2 p{
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 31px;
	color: #323e4f;
	text-transform: uppercase;
	-webkit-animation: col2 1.7s ease forwards;
	-o-animation: col2 1.7s ease forwards;
	animation: col2 1.7s ease forwards;
	opacity: 0;
}
.stat2 h4{
	font-size: 11px;
	color: #323e4f;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-animation: col2 2s ease forwards;
	-o-animation: col2 2s ease forwards;
	animation: col2 2s ease forwards;
	opacity: 0;
}
.otziv{
	text-align: center;
	padding: 12% 0% 12% 0; /*верхнего, правого, нижнего и левого*/
        }
.otziv1 h2{
	text-transform: uppercase;
    text-align: center;
	margin-top: 20px;
	padding-bottom: 3%;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 310%/10% 70% no-repeat; 
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
        }
.otziv1 img{
	margin: 61px 0px 37px 0px;/*верхнего, правого, нижнего и левого*/
}
.otziv2{
    color: #243042;
	font-size: 14px;
        }
.otziv3{
    margin-top: 3%;
        }
.kont{
    background: url(/img/fon_kontakt_1.png) center/cover no-repeat fixed;
    color:#F0F0F0;
	padding: 12% 0% 12% 0; /*верхнего, правого, нижнего и левого*/
        }
.kont1 h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 34px;
	font-size: 45px;
	font-weight: bold;
	background: url(../img/cherta.png) 50% 310%/10% 70% no-repeat;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}
.kont1 p{
	padding: 2% 0% 5% 0px;/*верхнего, правого, нижнего и левого*/
	font-size: 14px;
	text-align: center;
}
.kont2{
	
	text-align: center;    
        }
.kont3{
	display: inline-block;
	padding: 0% 1% 5% 1%; /*верхнего, правого, нижнего и левого*/ 
}
.kont3 img{
	margin-bottom: 13px;
}
.kont3 p{
	font-size: 12px;
}
.kont4{
    text-align: center;
        }
.kont4 h2{
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
}
.kont5{  
    text-align: center;
        }
.kont5 input{
	padding-top: 1%;
	height: 36px;
	width: 354px;
}
.kont5 textarea{
	max-width: 100%;
}
.kont6{
	text-align: center;
	border: 2px solid #F0F0F0;
	border-radius: 5px;
	background: none;
	color: #F0F0F0;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 76px;
	transition: all 0.2s;
	transform: scale(1);
}
.kont6:hover{
	background: #344051;
	color: #F0F0F0;
}
.kont6:active{
	transform: scale(1.1);
}
.kont8{
	text-align: center;
}
.kont8 img{
	padding: 0% 2.5% 0% 2.5%;/*верхнего, правого, нижнего и левого*/
	text-transform: uppercase;
	-webkit-animation: comming 1.7s ease forwards;
	-o-animation: comming 1.7s ease forwards;
	animation: comming 1.7s ease forwards;
	opacity: 0;
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topshift{
	from{
		opacity: 0;
		margin: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 0;
	}
}
@keyframes col2{
	from{
		opacity: 0;
		margin-left: -300px;	
	}
	to{
		opacity: 1;
	}
}